[Unit]
Description=PiDi Buttons on Boot Service
After=multi-user.target

[Service]
Type=idle
User=pi
ExecStart=/usr/bin/python /home/pi/hive-fi/buttons/hive-fi-buttons.py
Restart=always

[Install]
WantedBy=multi-user.target
